.App {
  text-align: center;
  font-family : Roboto;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
.tangkwaSetMargin{
  padding-top : 80px; 
}
.tangkwaSetTable{
text-align: center;
   border-style: solid;
   border-color:#FEC600;
   background-color: #FEC600;
  width:95%;
   border-width: 0.5px;
   font-size:100%;
}
.tangkwaSetData{
  text-align: center;
  background-color: #FFFFFF;
    width:95%;
    border-bottom: 2px solid #D8D8D8;
    margin:auto;
  }
.BDL{
  border-left: 6px solid #D8D8D8;
}

.tangkwaSetPending{
  color:#FEC605;
  margin:auto;
}
.tangkwaSetApprove{
  color:#16CA63;
 margin:auto;
 }

.tangkwaSetReject{
  color:#FF4949;
 margin:auto;
}
.tangkwaSetReady{
  color: rgb(29, 80, 219);
 margin:auto;
 }

.tangkwaSetOneday{
  margin-left: 100px; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
/* -----------setup My html------------ */
html {
  background-color: #fff;
  color:#555;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
.row {
  max-width: 1980px;
  margin: 0 auto ;  
}

/* --------------background------------ */
.background {
background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../src/Image/hero.jpg);
background-size: cover;
background-position: center;
height: 100vh;
}

/*-------------- LOGO ---------------*/
.hero-logo {
  font-family: 'Roboto';
  font-size: 50px;
  letter-spacing: 8px;
  color: #fff;
  padding-top: 20px;
}

/* -----------------mini-background -------------------*/
.mini-background{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
 height: 180vh;
  background-color:rgba(234, 232, 232, 0.85);
  border-radius: 41px;
  opacity: 0.8;
}

.tangkwa1 {
  margin-left : 80px;
  margin-right : 50px;
}
.tangkwa2 {
  padding-top : 20px;
}
.tangkwa3 {
  margin-left : 50px;
  margin-right : 50px;
}
.tangkwaStatusData{
  margin-left : 10px;
}
.tangkwaLeaveIdData{
  margin-left :100px;
}
.tangkwaNameData{
  margin-left : 120px;
}
/* ------------dropdown content---------------- */
.main-nav {
  margin-top:28px;
  display: inline-flex;
}
.dropbtn {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
   flex:1;
}
 
.tangkwaSetProjectTable{
text-align: center;
  border-style:  solid #FEC600;
  background-color: #FEC600;
  height:  80%;
  width:90%;
  margin-left : 60px;
  border-width: 0.5px;
}
.tangkwaPJID{
  margin-left : 100PX;
}
.tangkwaPJNAME{
  margin-left : 300px;
}
.tangkwaPJSTATUS{
  margin-left : 300px;
}
.tangkwaSetProjectData{
  text-align: center;
}
.dropdown-content a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color:#FEC600;
    color:black;
}
.dropbtn:focus { 
  background-color: #FEC600;
  color:black;
}


/* ---------------------2---------------------- */
.dropbtn2 {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;

}

.dropdown2 {
  position: relative;

}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  flex:1;

}

.dropdown-content2 a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content2 a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown2:hover .dropbtn2 {
    background-color: #FEC600;
    color:black;
}
.dropbtn2:focus { 
  background-color: #FEC600;
  color:black;
}

/* ----------------------------3------------------------- */

.dropbtn3 {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;
}

.dropdown3 {
  position: relative;

}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  flex:1;
}

.dropdown-content3 a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content3 a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

.dropdown3:hover .dropbtn3 {
  background-color: #FEC600;
  color:black;
}
.dropbtn3:focus { 
  background-color: #FEC600;
  color:black;
}


/* ------------------------------4------------------------------- */
.dropbtn4 {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;

}

.dropdown4 {
  position: relative;
}

.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  flex:1;
}

.dropdown-content4 a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content4 a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown4:hover .dropdown-content4 {
    display: block;
}

.dropdown4:hover .dropbtn4 {
  background-color: #FEC600;
  color:black;
}
.dropbtn4:focus { 
  background-color: #FEC600;
  color:black;
}


/* -------------------------------5---------------------------- */
.dropbtn5 {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;

}

.dropdown5 {
  position: relative;
 
}

.dropdown-content5 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  flex:1;
}

.dropdown-content5 a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content5 a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown5:hover .dropdown-content5 {
    display: block;
}

.dropdown5:hover .dropbtn5 {
  background-color: #FEC600;
  color:black;
}
.dropbtn5:focus { 
  background-color: #FEC600;
  color:black;
}

.tangkwaPJIDDATA{
  margin-left : 120PX;
}
.tangkwaPJNAMEDATA{
  margin-left : 320px
}
.tangkwaPJSTATUSDATA{
  margin-left : 310px;
}
.PJDT1{
  margin-left : 70px;
  margin-top : 20px;
  }
.PJDT2{
  margin-left : 58px;
  }
.PJDT3{
  margin-left : 64px;
  }
.PJDT4{
  margin-left : 2px;
  }
.pjFrame{
  border-style: solid;
  border-color: #FEC600;
  border-radius: 20px;
align-self: left;
margin-top : 2%;
margin-right : 3%;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.tk1flex-0{
flex: 0.3;
text-align: left;
}
.tk1flex-01{
  flex: 0.8;
  text-align: left;
  }
  .tk1flex-02{
    flex: 0.1;
    text-align: left;
    }
.tkflex-1{
  flex: 1;
  text-align: center;  
}
.tkflex-2{
  flex: 2;
  text-align: center;  
  }
.tkflex-22{
  flex: 2;
  text-align: right;  
  }
.tk1flex-2{
  flex: 2;
text-align: left;
}
.tk1flex-3{
  flex: 3;
text-align: left;
}
.tk1flex-6{
  flex: 4;
  text-align: left;
  margin-left: -17%;
}
.tangkwaTitle{
  padding-top : 20px;
  margin-bottom : 20px;
}
.tangkwaTitle2{
  padding-top : 20px;
  margin-bottom : 20px;
}
.tk1flex-1{
  flex: 1;
  text-align: left;  
}
.fffont {
  font-size: 23pt;
  color : blue;
}
.tk1flex-8{
  flex: 8;
  text-align: left;
  }
  .tk1flex-9{
    flex: 13;
  text-align: left;
  }
  .log-in{
    border-color: #222;
    border-radius : 15px;
    width : 45%;
  }
  .borderLogin{
    border: 2px solid white;
    background: white;
    border-radius: 10px;
    width : 30%;
    margin-left : 35%;
    margin-top :12%;
  }
.tangkwaLeaveFrame{
  border-style: solid;
  border-color: #FEC600;
  border-radius: 20px;
align-self: left;
margin-top :-0.6%;
margin-right : 3%;
height : 20%;
}
.addpng{
  margin-left : 1%;
  
}
.line{
  border-top: 2px solid gray;
  background-color: lightgrey;
  margin-top : 0.5%;
 margin-bottom: 0.5%;
}
.checkpng{
  margin-top :-0.2%;
  border-style: solid;
  background-color: #FFFFFF;
  height:  3%;
  width:3%;
  border-width: 0;
  
}
.tangkwaWDFrame{
  border-style: solid;
  border-color: #FEC600;
  border-radius: 20px;
align-self: left;
margin-top : -2%;
margin-right : 3%;
height : 20%;
}
.dropbtn5:focus { 
  background-color: #FEC600;
  color:black;
}



/* -----------------------------6----------------------- */

.dropbtn6 {
  background-color: transparent;
  font-size: 500px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;
}
.dropdown6 {
  position: relative;
}
.dropdown-content6 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  flex:1;
}
.dropdown-content6 a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content6 a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown6:hover .dropdown-content6 {
    display: block;
}

.dropdown6:hover .dropbtn6 {
  background-color: #FEC600;
  color:black;
}

.dropbtn6:focus { 
  background-color: #FEC600;
  color:black;
}

.date-header
 {
  display:inline-flex;
  text-align: left;
 }

 .show-header {
   text-align: left;
   margin-left:50px;
   padding-top: 30px;
 }

 .header1 {
  text-align: left;
  margin-left:50px;
   padding-top: 30px;
 }

 .icon-clock {
  margin-right: 10px;
 }

.tangkwaSetProjectData {
 background-color: #FFFFFF;
  text-align: center;
  height:  80%;
  width:90%;
  margin-left : 60px;
  border-bottom : 0.3px solid #D8D8D8;
}

.border-header {
  background-image: linear-gradient(-90deg, red, yellow);
  border-bottom:solid orange 15px;;
  border-radius: 15px;
padding-bottom:20px;
margin-bottom: 10px
}


h5 {
 margin-left:20px;
 text-align: left;
 margin-top:20px;
}

.container{
text-align: left;
margin-top:10px;
margin-left:10px;
}

.radio {
  margin-left:20px;
}
.radio1 {
  margin-left:37.0px;
}

.dropdown-custom {
  text-align: left;
}
.h5-config{
  display:inline-block
}
.dropbut {
  margin-left:25px;
}

.RangeExample{
  margin-top:50px;
}

.RangeExample {
  border : 1px solid black;
  background-color: white;
  margin-left : 20px;
  margin-right :20px;
  padding-top :20px;
  padding-bottom :20px;
  border-radius: 15px;
}
.tp{
  display: inline-block;
float: left;
margin-right:20px;
}
.comment{
  text-align: left;
  margin-left: 20px;
  margin-top :20px;
}

.textarea{
  width: 100%;
  height: 120px;
  border-radius: 15px;
  padding: 12px 20px;
  outline: none;
  border-width : 0px;
  border-radius : 10px;
}
.amount {
border-width: 0px; 
border-radius : 10px;
width:20%;
}
.setLeft{
 text-align: left;
 margin-left:50px;
 
}
.bookname{
  border-width : 0px;
  border-radius : 10px;
  width:20%;
 }
 .memid{
  border-width : 0px;
  border-radius : 10px;
  margin-left:4%;
 }
 .memid1{
  border-width : 0px;
  border-radius : 10px;
  margin-left:17.2%;
 }
 .proj{
  border-width : 0px;
  border-radius : 10px;
  margin-left : 2%;
  width:30%;
 }
 .setForAddUser{
  border-width : 0px;
  border-radius : 10px;
  width:80%;
 }
 .setForCM{
  border-width : 0px;
  border-radius : 10px;
  width : 30%;
  margin-left : 0%;
 }
.setTime{
  border-width : 0px;
  border-radius : 10px;
  width: 10%;
}
 .setHour{
  border-width : 0px;
  border-radius : 10px;
  width : 20%;
 }
.bookno{
  border-width : 0px;
  border-radius : 10px;
  width:20%;
 }
 .downdown{
   margin-top : 2%;
 }
.textarea1{
  border-width : 0px;
  border-radius : 10px;
width:30%;
height:100%;
margin-left:11%;
margin-top:-5%;

}
.textarea2{
  border-width : 0px;
  border-radius : 10px;
width:50%;
height:150px;
margin-left:11%;
margin-top:-2%;
}

.tangkwaFile{
  margin-top: 140px;
}
.Submit{
  border-width : 0px;
  border-radius : 5px;
margin-right:10%;
 background-color : #FEC600;
}
.LoginButton{
  border-width : 0px;
  border-radius : 5px;
  width: 20%;
margin-left:70%;
 background-color : #FEC600;
}
.Cancel{
  border-width : 0px;
  border-radius : 5px;
  background-color : #FFFFFF;
}
.createEvent{
border-width : 0px;
border-radius : 5px;
margin-right:10%;
background-color : #FEC600;
margin-left : 80%;
}

.Checkinnn{
  border-width : 0px;
  border-radius : 15px;
  width : 30%;
  height:30px;
  background-color : #FFFFFF;
  margin-bottom: 20px;
}
.select-types{
  text-align: left;
  margin-left:20px;
}

.filepond--wrapper{
  width: 30%;
  margin-left: 137px;
}


.button-confirm{
  text-align: center;
}

.selecttype{
  text-align: left;
}
.flex2{
  flex: 2;
 
}
p.thick {
  font-weight: bold;
}
.flex6 {
  flex: 6;
  text-align: left;
}
.form-check-label-Oneday {
  margin-left: 10px;
  margin-right: 20px;
}

.form-check-label-Moreday {
  margin-left: 10px
}

.form-check-input1 {
margin : 10px
}

.form-check-input2 {
  margin : 10px
}
.googleMap{
  width:30%;
  height:20%;
  margin-bottom: 2%;
}
.row-DayQuestion {
  margin-top : 50px
}

.select-livetype-text {
  margin-left: 50px;
  flex: 2;
  text-align: left
}

.TypeSelect {
  flex: 6;
}
.select-livetype-text.flex2 {
  text-align: left
}


.dayrequest-text{
  margin-left: 50px;
  flex: 2;
  text-align: left
}
.DayTypeSelect{
  flex: 6
}
.row-calendar {
  margin-top : 50px;
}



.text-date {
  margin-left: 50px;
  flex: 1;
  margin-top: 50px;
  display: inline-flex;
  text-align: left
  }
.text-date2 {
  flex: 1;
  margin-top: 50px;
  display: inline-flex;
  text-align: left
  }


.time-text.flex6 {
  margin-top: 50px;
}

.react-datepicker__input-container {
  margin-left: 10px;
}

.text-note {
  margin-left: 50px;

}

.text-note.flex2 {
  margin:0;
  margin-left: 50px;
}

.row-of-comment {
  margin-top : 50px;
  width: 100%;
}

.text-area {
  min-height: 80px;
}
.format-textlimit {
  margin-right: 10px;
  margin-top:125px
}

.react-datepicker-wrapper{
  margin-left:20%;
  margin-right:20%;
}
.input-file.flex2 {
  text-align: left;
  margin-left: 50px;
  margin-right :10px
}
.tangkwaTitle2{
  margin-left: 10%;
}

.MapCheckin{
  margin-bottom : 30px;
}
.joinProject{
  border-width : 0px;
  border-radius : 15px;
  
  height:30px;
 margin-right:10%;
 background-color : #FEC600;
}
.pStatus{
  font-size:17px;
  border-width : 0px;
  border-radius : 8px;
  height:30px;
 margin-right:1%;
 background-color : #FEC600;
}
.pStatusReady{
  font-size:17px;
  border-width : 0px;
  border-radius : 8px;
  height:30px;
 margin-right:1%;
 background-color : #FEC600;
}
.selecttype{
  padding-left : 77%;
  padding-bottom: 3%;
}
.pStatusProcess{
  font-size:17px;
  border-radius : 8px;
 margin-right:1%;
 background-color :#3498DB  ;
 padding-left :3%;
 padding-right : 3%;
margin-top : 3%;
}
.pStatusDone{
  font-size:17px;
  border-width : 0px;
  border-radius : 8px;
 margin-right:1%;
 background-color : #58D68D;
 padding-left :3%;
 padding-right : 3%;
}

.flex2{
  text-align: left;
  margin-top: auto;
}

.input-date{
  max-width: 130px;
}

.margindetail{
  margin-top : 2%;
}

.selecttype{
  margin-left:1%;
}
