.App {
  text-align: center;
  font-family : Roboto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.tangkwaSetMargin{
  padding-top : 80px; 

}

.tangkwaSetTable{

   text-align: center;
   border-style: solid;
   border-color:#FEC600;
   background-color: #FEC600;
   
   height:  95%;
   width:95%;
   
   border-width: 0.5px;
}

.BDL{
  border-left: 6px solid #D8D8D8;
}

.tangkwaSetData{
text-align: center;
  border-style: solid;
  border-color:#D8D8D8;
  background-color: #FFFFFF;
  height:  95%;
  width:95%;
  border-width: 0.5px;
  height:50px;
}

.tangkwaSetPending{
  border-style: solid;
  border-color:#EAE8E8;
  border-radius: 20px;
  background-color: #EAE8E8;
 border-width: 0.5px;
 height:30px;
 margin: 8px 8px;
}

.tangkwaSetApprove{
  
  border-style: solid;
  border-color:#16CA63;
  border-radius: 20px;
  background-color: #16CA63;
  border-width: 0.5px;
  height:30px;
  margin: 8px 8px;
}

.tangkwaSetReject{
  border-style: solid;
  border-color:#FF4949;
  border-radius: 20px;
  background-color: #FF4949;
  border-width: 0.5px;
  height:30px;
  margin: 8px 8px;
}

.tangkwaSetOneday{
  margin-left: 100px; 
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/* -----------setup My html------------ */
html {
  background-color: #fff;
  color:#555;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1980px;
  margin: 0 auto ;  
}


/* --------------background------------ */
.background {
background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../src/Image/hero.jpg);
background-size: cover;
background-position: center;
height: 100vh;
}

/*-------------- LOGO ---------------*/
.hero-logo {
  font-family: 'Roboto';
  font-size: 50px;
  letter-spacing: 8px;
  color: #fff;
  padding-top: 20px;
}

/* -----------------mini-background -------------------*/
.mini-background{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
 
  height: 150vh;
  background-color:rgba(234, 232, 232, 0.85);
  border-radius: 41px;
  opacity: 0.8;
}


.tangkwa1 {
  margin-left : 80px;
  margin-right : 50px;
}
.tangkwa2 {
  padding-top : 20px;
}
.tangkwa3 {
  margin-left : 50px;
  margin-right : 50px;
}
.tangkwaStatusData{
  margin-left : 10px;
}
.tangkwaLeaveIdData{
  margin-left :100px;
}
.tangkwaNameData{
  margin-left : 120px;
}
/* ------------dropdown content---------------- */

.main-nav {
  margin-top:28px;
  display: inline-flex;

}

.dropbtn {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
   flex:1;
}
 

.tangkwaSetProjectTable{

  text-align: center;
  
  border-style:  solid #FEC600;
  background-color: #FEC600;
  height:  80%;
  width:90%;
  margin-left : 60px;
  border-width: 0.5px;
}

.tangkwaPJID{
  margin-left : 100PX;
}
.tangkwaPJNAME{
  margin-left : 300px;
}
.tangkwaPJSTATUS{
  margin-left : 300px;
}
.tangkwaSetProjectData{
  text-align: center;
}

.dropdown-content a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:#FEC600;
    color:black;
}
.dropbtn:focus { 
  background-color: #FEC600;
  color:black;
}


/* ---------------------2---------------------- */
.dropbtn2 {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;

}

.dropdown2 {
  position: relative;

}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  flex:1;

}

.dropdown-content2 a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content2 a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown2:hover .dropbtn2 {
    background-color: #FEC600;
    color:black;
}
.dropbtn2:focus { 
  background-color: #FEC600;
  color:black;
}

/* ----------------------------3------------------------- */

.dropbtn3 {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;

}

.dropdown3 {
  position: relative;

}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  flex:1;
}

.dropdown-content3 a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content3 a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

.dropdown3:hover .dropbtn3 {
  background-color: #FEC600;
  color:black;
}
.dropbtn3:focus { 
  background-color: #FEC600;
  color:black;
}


/* ------------------------------4------------------------------- */
.dropbtn4 {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;

}

.dropdown4 {
  position: relative;
}

.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  flex:1;
}

.dropdown-content4 a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content4 a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown4:hover .dropdown-content4 {
    display: block;
}

.dropdown4:hover .dropbtn4 {
  background-color: #FEC600;
  color:black;
}
.dropbtn4:focus { 
  background-color: #FEC600;
  color:black;
}


/* -------------------------------5---------------------------- */
.dropbtn5 {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;

}

.dropdown5 {
  position: relative;
 
}

.dropdown-content5 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  flex:1;
}

.dropdown-content5 a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content5 a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown5:hover .dropdown-content5 {
    display: block;
}

.dropdown5:hover .dropbtn5 {
  background-color: #FEC600;
  color:black;
}
.dropbtn5:focus { 
  background-color: #FEC600;
  color:black;
}

.tangkwaPJIDDATA{
  margin-left : 120PX;
}
.tangkwaPJNAMEDATA{
  margin-left : 320px
}
.tangkwaPJSTATUSDATA{
  margin-left : 310px;
}
.PJDT1{
  margin-left : 70px;
  margin-top : 20px;
  
}
.PJDT2{
  margin-left : 58px;
  
}
.PJDT3{
  margin-left : 64px;
  
}
.PJDT4{
  margin-left : 2px;
  
}
.pjFrame{
  border-style: solid;
  border-color: #FEC600;
  border-radius: 20px;
align-self: left;
margin-top : -2%;
margin-right : 3%;
height : 20%;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.tk1flex-0{
flex: 0.3;
text-align: left;
}
.tk1flex-01{
  flex: 0.8;
  text-align: left;
  }
  .tk1flex-02{
    flex: 0.1;
    text-align: left;
    }
.tkflex-1{
  flex: 1;
  text-align: center;  
}
.tkflex-2{
  flex: 2;
  text-align: center;  
}

.tk1flex-2{
  flex: 2;
text-align: left;
}
.tangkwaTitle{
  padding-top : 20px;
  margin-bottom : 20px;
}
.tangkwaTitle2{
  padding-top : 20px;
  margin-bottom : 20px;
}
.tk1flex-1{
  flex: 1;
  text-align: left;  
}
.tk1flex-8{
  flex: 8;
  text-align: left;
  }
  .tk1flex-9{
    flex: 13;
  text-align: left;
  }
.tangkwaLeaveFrame{
  border-style: solid;
  border-color: #FEC600;
  border-radius: 20px;
align-self: left;
margin-top : -2%;
margin-right : 3%;
height : 20%;
}
.addpng{
  margin-left : 1%;
  
}

.tangkwaWDFrame{
  border-style: solid;
  border-color: #FEC600;
  border-radius: 20px;
align-self: left;
margin-top : -2%;
margin-right : 3%;
height : 20%;
}

.dropbtn5:focus { 
  background-color: #FEC600;
  color:black;
}



/* -----------------------------6----------------------- */

.dropbtn6 {
  background-color: transparent;
  font-size: 500px;
  font-family: 'Roboto';
  color: white;
  padding: 16px;
  width: 180px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  letter-spacing: 2px;
}

.dropdown6 {
  position: relative;
}

.dropdown-content6 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.8;
  border-radius: 15px;
  flex:1;
}

.dropdown-content6 a {
  font-weight: lighter;
  font-style: 'Roboto';
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content6 a:hover {background-color: #f1f1f1;border-radius: 15px;}

.dropdown6:hover .dropdown-content6 {
    display: block;
}

.dropdown6:hover .dropbtn6 {
  background-color: #FEC600;
  color:black;
}

.dropbtn6:focus { 
  background-color: #FEC600;
  color:black;
}

.date-header
 {
  display:inline-flex;
  text-align: left;
 }

 .show-header {
   text-align: left;
   margin-left:50px;
   padding-top: 30px;
 }

 .header1 {
  text-align: left;
  margin-left:50px;
   padding-top: 30px;
 }

 .icon-clock {
  margin-right: 10px;
 }

.tangkwaSetProjectData {
 background-color: #FFFFFF;
  text-align: center;
  height:  80%;
  width:90%;
  margin-left : 60px;
  border-bottom : 0.3px solid #D8D8D8;
}

.border-header {
  background-image: linear-gradient(-90deg, red, yellow);
  border-bottom:solid orange 15px;;
  border-radius: 15px;
padding-bottom:20px;
}


h5 {
 margin-left:20px;
 text-align: left;
 margin-top:20px;
}

.container{
text-align: left;
margin-left:35px;
margin-top:20px;
}

.radio {
  margin-left:20px;
}
.radio1 {
  margin-left:37.0px;
}

.dropdown-custom {
  text-align: left;
}
.h5-config{
  display:inline-block
}
.dropbut {
  margin-left:25px;
}

.RangeExample{
  margin-top:50px;
}

.RangeExample {
  border : 1px solid black;
  background-color: white;
  margin-left : 20px;
  margin-right :20px;
  padding-top :20px;
  padding-bottom :20px;
  border-radius: 15px;
}
.tp{
  display: inline-block;
float: left;
margin-right:20px;
}
.comment{
  text-align: left;
  margin-left: 20px;
  margin-top :20px;
}

.textarea {
  width: 60%;
  height: 120px;
  border-radius: 15px;
  padding: 12px 20px;
  outline: none;
}
.amount {
border-width: 0px; 
border-radius : 10px;


}
.setLeft{
 text-align: left;
 margin-left:50px;
 
}
.bookname{
  border-width : 0px;
  border-radius : 10px;
 }
 .memid{
  border-width : 0px;
  border-radius : 10px;
  margin-left:5%;
 }
 .memid1{
  border-width : 0px;
  border-radius : 10px;
  margin-left:17.2%;
 }
 .proj{
  border-width : 0px;
  border-radius : 10px;
  margin-left : 2%;
 }
.bookno{
  border-width : 0px;
  border-radius : 10px;
 
 
}
.textarea{
  border-width : 0px;
  border-radius : 10px;
width:50%;
height:150px;
}
.textarea1{
  border-width : 0px;
  border-radius : 10px;
width:50%;
height:150px;
margin-left:14.3%;
margin-top:-4%;

}

.tangkwaFile{
  margin-top: 140px;
}
.Submit{
  border-width : 0px;
  border-radius : 15px;
  width : 10%;
  height:30px;
 margin-right:10%;
 background-color : #00CC00;
}
.Cancel{
  border-width : 0px;
  border-radius : 15px;
  width : 10%;
  height:30px;
  background-color : #FF0000;
}

.select-types{
  text-align: left;
  margin-left:20px;
}